.container {
    padding-left: 20px;
    padding-right: 20px;
}
.datagrid2 {
    padding-top: 10px;
    padding-bottom: 20px;
}
.btnConfirm {
    text-align: end;
}
.textworkbox {
    padding-top: 30px;
}
.groupbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}