.container {
box-sizing: border-box;
}
.main {
  display: grid;
  grid-template-columns: auto 400px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  gap: 6px;
}
.informationTable {
  border: 2px solid #f5c242;
  border-radius: 6px;
}
.confirm {
  border: 2px solid #f5c242;
  border-radius: 6px;
}